/*agregar fuente*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Roboto Condensed", sans-serif;;
}

html{
    scroll-behavior: smooth;
}
#inicio{
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../assets/images.png");
background-size: cover;
background-position: center center;
height: 100vh;}
